@model BookWeb.Entities.Book
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content" id="panel">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center" style="padding-top:200px;">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Edit Book</small>
                        </div>
                        <form asp-controller="Book" method="post" role="form">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <input asp-for="Title" class="form-control" placeholder="Title" required="">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <select class="form-control" asp-for="AuthorId" asp-items="@ViewBag.author">
                                    <option>Author</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <select class="form-control" asp-for="GenreID" asp-items="@ViewBag.genre">
                                    <option>Genre</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <input asp-for="ISBN" class="form-control" placeholder="ISBN" required="">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <input asp-for="YearPublish" class="form-control" placeholder="Year Published" required="">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">                    
                                    <input asp-for="Rating" class="form-control" placeholder="Rating" required="">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <input asp-for="Summary" class="form-control" placeholder="Summary" required="">
                                </div>
                            </div>


                            <div class="text-center">
                                <button asp-action="Edit" type="submit" class="btn btn-primary my-4">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>